/*setear mi css (cambiar las características predeterminadas de HTML)*/
body { /*ordenar alfabéticamente*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/*clases específicas*/
/*Encabezado*/
header {
  position: relative;
}

/*Listas del encabezado*/
ul .row {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
}


.bar {
  background-color: #efefef;
  width: 1100px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
}

.icon-cross, .icon-ctrl {
  /*text-align: right;  no funciona*/
}

.icon-user, .icon-menu, .icon-bubble2 {
  margin: 10px;
  /*text-align: right; no funciona*/
}

ul div {
  display: inline-block;
  background-color: #928177;
  border-radius: 20px;
  padding: 1%;
  margin: 10px;
}
.row-two {
  text-align: center;
}

ul div p {
 color: #fff;
 font-weight: bold;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;
}

.icon-pinterest {
  color: #bd081c;
  font-size: 40px;
  display: inline-block;
  margin: 10px;
}

/*Sección con imágenes*/
section {
  position: absolute;
  top: 200px;
  margin-left: 80px;
  margin-right: 80px;
}

figure {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 1px 1px 4px 1px #000000; /*para ponerle sombra*/
}
